// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright 2024 Ocompany.
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include <dt-bindings/phy/phy-imx8-pcie.h>

#include "imx8mq.dtsi"

/ {
	model = "NXP i.MX8MQ Odevice";
	compatible = "fsl,imx8mq-evk", "fsl,imx8mq";

	chosen {
		stdout-path = &uart1;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x00000000 0x40000000 0 0xc0000000>;
	};

	resmem: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x38000000>;
			alloc-ranges = <0 0x80000000 0 0x38000000>;
			linux,cma-default;
		};
	};

	pcie0_refclk: pcie0-refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "pcie0_refclk";
	};

	pmic_osc: clock-pmic {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "pmic_osc";
	};
};

&A53_0 {
	cpu-supply = <&buck2_regltr>;
};

&A53_1 {
	cpu-supply = <&buck2_regltr>;
};

&A53_2 {
	cpu-supply = <&buck2_regltr>;
};

&A53_3 {
	cpu-supply = <&buck2_regltr>;
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic: pmic@4b {
		compatible = "rohm,bd71837";
		reg = <0x4b>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		clocks = <&pmic_osc>;
		clock-names = "osc";
		clock-output-names = "pmic_clk";
		interrupt-parent = <&gpio1>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
		rohm,reset-snvs-powered;

		regulators {
			buck1_regltr: BUCK1 {
				regulator-name = "buck1_regltr";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage = <900000>;
				rohm,dvs-idle-voltage = <850000>;
				rohm,dvs-suspend-voltage = <800000>;
				regulator-always-on;
			};

			buck2_regltr: BUCK2 {
				regulator-name = "buck2_regltr";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage = <1000000>;
				rohm,dvs-idle-voltage = <900000>;
				regulator-always-on;
			};

			buck3_regltr: BUCK3 {
				regulator-name = "buck3_regltr";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				rohm,dvs-run-voltage = <900000>;
				regulator-always-on;
			};

			buck4_regltr: BUCK4 {
				regulator-name = "buck4_regltr";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				rohm,dvs-run-voltage = <1000000>;
				regulator-always-on;
			};

			buck5_regltr: BUCK5 {
				regulator-name = "buck5_regltr";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1350000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_regltr: BUCK6 {
				regulator-name = "buck6_regltr";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck7_regltr: BUCK7 {
				regulator-name = "buck7_regltr";
				regulator-min-microvolt = <1605000>;
				regulator-max-microvolt = <1995000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck8_regltr: BUCK8 {
				regulator-name = "buck8_regltr";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_regltr: LDO1 {
				regulator-name = "ldo1_regltr";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				/* leave on for snvs power button */
				regulator-always-on;
			};

			ldo2_regltr: LDO2 {
				regulator-name = "ldo2_regltr";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				/* leave on for snvs power button */
				regulator-always-on;
			};

			ldo3_regltr: LDO3 {
				regulator-name = "ldo3_regltr";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_regltr: LDO4 {
				regulator-name = "ldo4_regltr";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				/* regulator-boot-on; */
				/* regulator-always-on; */
			};

			ldo5_regltr: LDO5 {
				/* VDD_PHY_1V8 - PCIE, MIPI, USB and HDMI domains */
				regulator-name = "ldo5_regltr";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			ldo6_regltr: LDO6 {
				/* VDD_PHY_0V9 - PCIE, MIPI, USB and HDMI domains */
				regulator-name = "ldo6_regltr";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo7_regltr: LDO7 {
				/* VDD_PHY_3V3 - USB domain */
				regulator-name = "ldo7_regltr";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	/*
	 * Devices on the display screen module
	 */
	tsc: als@29 {
		/*
		 * ambient light sensor
		 */
		compatible = "amstaos,tsl2561";
		reg = <0x29>;
	};

	tsc@24 {
		/*
		 * touch screen
		 */
		compatible = "parade,pt_i2c_adapter";
		reg = <0x24>;
		interrupt-parent = <&gpio1>;
		interrupts = <19 0x2>;
		parade,adapter_id = "pt_i2c_adapter";

		parade,core {
			parade,name = "pt_core";

			pinctrl-names = "default";
			pinctrl-0 = <&ts_int_active>, <&ts_reset_n>;
			parade,irq_gpio = <19>;
			parade,rst_gpio = <21>;
			parade,hid_desc_register = <1>;
			/* 
			 * PT_CORE_FLAG_NONE = 0x00
			 * PT_CORE_FLAG_POWEROFF_ON_SLEEP = 0x02
			 * PT_CORE_FLAG_RESTORE_PARAMETERS = 0x04
			 * PT_CORE_FLAG_DEEP_STANDBY = 0x08
			 * PT_CORE_FLAG_SKIP_SYS_SLEEP = 0x10
			 * PT_CORE_FLAG_SKIP_RUNTIME = 0x20
			 * PT_CORE_FLAG_SKIP_RESUME = 0x40
			 */
			parade,flags = <0>;
			/* PT_CORE_EWG_NONE */
			parade,easy_wakeup_gesture = <0>;
			/* 0:AUTO 1:PIP1_ONLY 2:PIP2_CAPABLE*/
			parade,config_dut_generation = <1>;
			/* 0:False 1:True*/
			parade,watchdog_force_stop = <0>;
			/* 
			 * PT_PANEL_ID_DISABLE = 0x00
			 * PT_PANEL_ID_BY_BL  = 0x01
			 * PT_PANEL_ID_BY_SYS_INFO  = 0x02
			 * PT_PANEL_ID_BY_MFG_DATA  = 0x04
			 */
			parade,panel_id_support = <0>;
			/* 0:PIP, 1: Hybrid HID, 2: pure HID */
			parade,protocol_mode = <0>;
			parade,btn_keys = <172 /* KEY_HOMEPAGE */
					   /* previously was KEY_HOME, new Android versions use KEY_HOMEPAGE */
				       139 /* KEY_MENU */
				       158 /* KEY_BACK */
				       217 /* KEY_SEARCH */
				       114 /* KEY_VOLUMEDOWN */
				       115 /* KEY_VOLUMEUP */
				       212 /* KEY_CAMERA */
				       116>; /* KEY_POWER */
			parade,btn_keys-tag = <0>;

			parade,mt {
				parade,name = "pt_mt";
				parade,inp_dev_name = "pt_mt";
				/*
				 * PT_MT_FLAG_NONE = 0x00
				 * PT_MT_FLAG_FLIP = 0x08
				 * PT_MT_FLAG_INV_X = 0x10
				 * PT_MT_FLAG_INV_Y = 0x20
				 * PT_MT_FLAG_VKEYS = 0x40
				 */
				parade,flags = <0x00>; /* PT_MT_FLAG_NONE */
				parade,abs =
					/* ABS_MT_POSITION_X, PT_ABS_MIN_X, PT_ABS_MAX_X, 0, 0 */
					<0x35 0 880 0 0
					/* ABS_MT_POSITION_Y, PT_ABS_MIN_Y, PT_ABS_MAX_Y, 0, 0 */
					0x36 0 1280 0 0
					/* ABS_MT_PRESSURE, PT_ABS_MIN_P, PT_ABS_MAX_P, 0, 0 */
					0x3a 0 255 0 0
					/* PT_IGNORE_VALUE, PT_ABS_MIN_W, PT_ABS_MAX_W, 0, 0 */
					0xffff 0 255 0 0
					/* ABS_MT_TRACKING_ID, PT_ABS_MIN_T, PT_ABS_MAX_T, 0, 0 */
					0x39 0 15 0 0
					/* ABS_MT_TOUCH_MAJOR, 0, 255, 0, 0 */
					0x30 0 255 0 0
					/* ABS_MT_TOUCH_MINOR, 0, 255, 0, 0 */
					0x31 0 255 0 0
					/* ABS_MT_ORIENTATION, -127, 127, 0, 0 */
					0x34 0xffffff81 127 0 0
					/* ABS_MT_TOOL_TYPE, 0, MT_TOOL_MAX, 0, 0 */
					0x37 0 1 0 0
					/* ABS_DISTANCE, 0, 255, 0, 0 */
					0x19 0 255 0 0>;

				parade,vkeys_x = <720>;
				parade,vkeys_y = <1280>;

				parade,virtual_keys = /* KeyCode CenterX CenterY Width Height */
					/* KEY_BACK */
					<158 90 1360 160 180
					/* KEY_MENU */
					139 270 1360 160 180
					/* KEY_HOMEPAGE */
					172 450 1360 160 180
					/* KEY SEARCH */
					217 630 1360 160 180>;
			};

			parade,btn {
				parade,name = "pt_btn";

				parade,inp_dev_name = "pt_btn";
			};
			
			parade,pen {
				parade,name = "pt_pen";

				parade,inp_dev_name = "pt_pen";
			};

			parade,proximity {
				parade,name = "pt_proximity";

				parade,inp_dev_name = "pt_proximity";
				parade,abs =
					/* ABS_DISTANCE, PT_PROXIMITY_MIN_VAL, PT_PROXIMITY_MAX_VAL, 0, 0 */
					<0x19 0 1 0 0>;
			};
		};
	};
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie0>;
	reset-gpio = <&gpio3 5 GPIO_ACTIVE_LOW>;
        clocks = <&clk IMX8MQ_CLK_PCIE1_ROOT>,
                 <&clk IMX8MQ_CLK_PCIE1_AUX>,
		 <&clk IMX8MQ_CLK_PCIE1_PHY>,
                 <&pcie0_refclk>;
        clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
	vph-supply = <&ldo7_regltr>;
        status = "okay";
};

&sai2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MQ_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MQ_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART1>;
	assigned-clock-parents = <&clk IMX8MQ_CLK_25M>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART2>;
	assigned-clock-parents = <&clk IMX8MQ_CLK_25M>;
	status = "okay";
};

&uart3 { /* Wireless/BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART3>;
	assigned-clock-parents = <&clk IMX8MQ_SYS1_PLL_80M>;
	cts-gpios = <&gpio5 7 GPIO_ACTIVE_LOW>;
	rts-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&usb3_phy0 {
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&usdhc1 {
	assigned-clocks = <&clk IMX8MQ_CLK_USDHC1>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	no-sd;
	no-sdio;
	status = "okay";
};

&usdhc2 {
	assigned-clocks = <&clk IMX8MQ_CLK_USDHC2>;
	assigned-clock-rates = <200000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	non-removable;
	no-sd;
	no-sdio;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	pinctrl_pmic: pmicgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_GPIO1_IO07_GPIO1_IO7	0x80  /* PMIC intr Active LOW */
		>;
	};
	nfc_hpd: nfcgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_GPIO1_IO06_GPIO1_IO6	0x16  /* NFC_HPD Active HIGH */
		>;
	};
	wifi_reset_n: wifigrp {
		fsl,pins = <
			MX8MQ_IOMUXC_NAND_DATA01_GPIO3_IO7	0x16  /* wifi reset Active LOW */
		>;
	};
	bt_reset_n: btgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_NAND_DATA00_GPIO3_IO6	0x16  /* bt reset Active LOW */
		>;
	};
	wifi_disable_n: wifigrp {
		fsl,pins = <
			MX8MQ_IOMUXC_NAND_CE3_B_GPIO3_IO4	0x16  /* wifi disable Active LOW */
		>;
	};
	bt_wakeup: btgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_NAND_CE1_B_GPIO3_IO2	0x16  /* bt wakeup Active HIGH */
		>;
	};
	wifi_pd_n: wifigrp {
		fsl,pins = <
			MX8MQ_IOMUXC_NAND_ALE_GPIO3_IO0		0x16  /* wifi pd Active LOW */
		>;
	};
	sc_elvddss_active: scrngrp {
		fsl,pins = <
			MX8MQ_IOMUXC_GPIO1_IO08_GPIO1_IO8	0x16  /* BL_ELVDD_EN Active HIGH */
		>;
	};
	sc_reset_n: scrngrp {
		fsl,pins = <
			MX8MQ_IOMUXC_ENET_TD1_GPIO1_IO20	0x16  /* Active LOW */
		>;
	};
	ts_reset_n: tsgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_ENET_TD0_GPIO1_IO21	0x16  /* touch screen reset Active LOW */
		>;
	};
	ts_int_active: tsgrp {
		fsl,pins = <
			MX8MQ_IOMUXC_ENET_TD2_GPIO1_IO19	0x19 /* touch screen interrupt */
		>;
	};
	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_I2C1_SCL_I2C1_SCL			0x4000007f
			MX8MQ_IOMUXC_I2C1_SDA_I2C1_SDA			0x4000007f
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MQ_IOMUXC_I2C2_SCL_I2C2_SCL			0x4000007f
			MX8MQ_IOMUXC_I2C2_SDA_I2C2_SDA			0x4000007f
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MQ_IOMUXC_I2C3_SCL_I2C3_SCL			0x4000007f
			MX8MQ_IOMUXC_I2C3_SDA_I2C3_SDA			0x4000007f
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			MX8MQ_IOMUXC_I2C4_SCL_PCIE1_CLKREQ_B		0x60  /* Open drain, pull up */
			MX8MQ_IOMUXC_NAND_CLE_GPIO3_IO5			0x16  /* wifi perst Active LOW */
			MX8MQ_IOMUXC_I2C4_SDA_GPIO5_IO21		0x41  /* wifi wake Active LOW */
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SAI2_TXFS_SAI2_TX_SYNC		0xd6 /* BT PCM transmit */
			MX8MQ_IOMUXC_SAI2_TXC_SAI2_TX_BCLK		0xd6
			MX8MQ_IOMUXC_SAI2_MCLK_SAI2_MCLK		0xd6
			MX8MQ_IOMUXC_SAI2_TXD0_SAI2_TX_DATA0		0xd6
			MX8MQ_IOMUXC_SAI2_RXFS_SAI2_RX_SYNC		0xd6 /* BT PCM receive */
			MX8MQ_IOMUXC_SAI2_RXC_SAI2_RX_BCLK		0xd6
			MX8MQ_IOMUXC_SAI2_RXD0_SAI2_RX_DATA0		0xd6
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_UART1_RXD_UART1_DCE_RX		0x49 /* M4 'linux console' */
			MX8MQ_IOMUXC_UART1_TXD_UART1_DCE_TX		0x49
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MQ_IOMUXC_UART2_RXD_UART2_DCE_RX		0x49 /* Debug port */
			MX8MQ_IOMUXC_UART2_TXD_UART2_DCE_TX		0x49
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MQ_IOMUXC_UART3_TXD_UART3_DCE_TX		0x140 /* Serial for 88W9098 */
			MX8MQ_IOMUXC_UART3_RXD_UART3_DCE_RX		0x140
			MX8MQ_IOMUXC_ECSPI1_MISO_UART3_DCE_CTS_B	0x140
			MX8MQ_IOMUXC_ECSPI1_SS0_UART3_DCE_RTS_B		0x140
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK			0x83
			MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD			0xc3
			MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0		0xc3
			MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1		0xc3
			MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2		0xc3
			MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3		0xc3
			MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4		0xc3
			MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5		0xc3
			MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6		0xc3
			MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7		0xc3
			MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE		0x83
			MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK			0x8d
			MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD			0xcd
			MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0		0xcd
			MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1		0xcd
			MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2		0xcd
			MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3		0xcd
			MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4		0xcd
			MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5		0xcd
			MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6		0xcd
			MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7		0xcd
			MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE		0x8d
			MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK			0x9f
			MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD			0xdf
			MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0		0xdf
			MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1		0xdf
			MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2		0xdf
			MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3		0xdf
			MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4		0xdf
			MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5		0xdf
			MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6		0xdf
			MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7		0xdf
			MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE		0x9f
			MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK			0x83
			MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD			0xc3
			MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0		0xc3
			MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1		0xc3
			MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2		0xc3
			MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3		0xc3
			MX8MQ_IOMUXC_SD2_RESET_B_USDHC2_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK			0x85
			MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD			0xc5
			MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0		0xc5
			MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1		0xc5
			MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2		0xc5
			MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3		0xc5
			MX8MQ_IOMUXC_SD2_RESET_B_USDHC2_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK			0x87
			MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD			0xc7
			MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0		0xc7
			MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1		0xc7
			MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2		0xc7
			MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3		0xc7
			MX8MQ_IOMUXC_SD2_RESET_B_USDHC2_RESET_B		0xc1
		>;
	};

	pinctrl_wdog: wdog1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B            0xc6
		>;
	};

};

&gpu3d {
	power-supply = <&buck3_regltr>;
	status = "okay";
};

&vpu_v4l2 {
	power-supply = <&buck4_regltr>;
	status = "okay";
};

&irqsteer {
	status = "okay";
};

&dcss {
	status = "okay";
};

&lcdif {
	status = "okay";
};

&dphy {
	status = "okay";
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	mipi_panel: panel@0 {
			compatible = "visionox,rm69091";
			reg = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&sc_elvddss_active>, <&sc_reset_n>;
			elvddss-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
			reset-gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
			dsi-lanes = <1>;
			width-mm = <30>;
			height-mm = <40>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					mipi_in_panel: endpoint {
					remote-endpoint = <&dsi0_out_con>;
				};
			};
		};
	};
/delete-node/ ports;
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		dsi0_in: port@0 {
			reg = <0>;
		};

		dsi0_out: port@1 {
			reg = <1>;
		};
	};

};

&dsi0_in {
	#address-cells = <1>;
	#size-cells = <0>;

	mipi_dsi_lcdif_in: endpoint {
	remote-endpoint = <&lcdif_mipi_dsi>;
	};
};

&dsi0_out {
	#address-cells = <1>;
	#size-cells = <0>;

	dsi0_out_con: endpoint {
		remote-endpoint = <&mipi_in_panel>;
	};
};

&gpio1 {
        pinctrl-names = "default";
        pinctrl-0 = <&nfc_hpd>, <&ts_reset_n>;
        nfc_hpd-on-hog {
                gpio-hog;
                gpios = <06 GPIO_ACTIVE_HIGH>; /* hog nfc_hpd 'hard power down' low */
                output-low;
        };
        ts-reset-n-on-hog {
                gpio-hog;
                gpios = <21 GPIO_ACTIVE_LOW>; /* hog touch screen reset low */
                output-low;
        };
};

&gpio3 {
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_reset_n>, <&bt_reset_n>, <&wifi_disable_n>, <&bt_wakeup>, <&wifi_pd_n>;
        wifi-reset-n-on-hog {
                gpio-hog;
                gpios = <07 GPIO_ACTIVE_LOW>;
                output-high;
        };
        bt-reset-n-on-hog {
                gpio-hog;
                gpios = <06 GPIO_ACTIVE_LOW>;
                output-high;
        };
        wifi-disable-n-on-hog {
                gpio-hog;
                gpios = <04 GPIO_ACTIVE_LOW>;
                output-low;
        };
        bt-wakeup-on-hog {
                gpio-hog;
                gpios = <02 GPIO_ACTIVE_HIGH>;
                output-high;
        };
        wifi-pd-n-on-hog {
                gpio-hog;
                gpios = <00 GPIO_ACTIVE_LOW>;
                output-low;
        };
};
